* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.header .bgimg img {
    position: absolute;
    width: 752px;
    height: 448px;
    left: 613px;
    top: 130.5px;
}

.logo {
    position: absolute;
    width: 88.98px;
    height: 60px;
    left: 150px;
    top: 20px;
}

.navbar {
    width: 85%;
    margin-left: 150px;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navbar ul {
    margin-right: 28%;
}

#btn1 {
    position: absolute;
    width: 205px;
    height: 48px;
    left: 1085px;
    top: 26px;
    background: #FE0000;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid transparent;
    margin-top: 10px;
    cursor: pointer;
}

#btn1 a {
    text-decoration: none;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF
}

.content h1 {
    position: absolute;
    width: 373px;
    height: 132px;
    left: 150px;
    top: 187px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 66px;
    font-feature-settings: 'liga'off;
    color: #212121;
}

.content p {
    position: absolute;
    width: 439px;
    height: 56px;
    left: 150px;
    top: 334px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.02em;

    color: #212121;

    opacity: 0.8;
}

#btn2 {
    position: absolute;
    width: 215px;
    height: 60px;
    left: 150px;
    top: 420px;
    background: #FE0000;
    border-radius: 8px;
}

#btn2 a {
    text-decoration: none;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF
}