* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header {
    /* Rectangle 4 */
    height: 630px;
    left: 0px;
    top: -1.5px;

    background: #F9F9F9;
    ;
}

.header .bgimg img {
    position: absolute;
    width: 752px;
    height: 448px;
    left: 613px;
    top: 132px;
}

.logo {
    position: absolute;
    width: 88.98px;
    height: 60px;
    left: 150px;
    top: 20px;
}

.navbar {
    width: 85%;
    margin-left: 150px;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navbar ul {
    margin-right: 28%;
}

#btn1 {
    position: absolute;
    width: 205px;
    height: 48px;
    left: 1115px;
    top: 26px;
    background: #FE0000;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid transparent;
    margin-top: 10px;
    cursor: pointer;
}

#btn1 a {
    text-decoration: none;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF
}

.content h1 {
    position: absolute;
    width: 373px;
    height: 132px;
    left: 150px;
    top: 187px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 66px;
    font-feature-settings: 'liga'off;
    color: #212121;
}

.content p {
    position: absolute;
    width: 439px;
    height: 56px;
    left: 150px;
    top: 334px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.02em;

    color: #212121;

    opacity: 0.8;
}

#btn2 {
    position: absolute;
    width: 215px;
    height: 60px;
    left: 150px;
    top: 420px;
    background: #FE0000;
    border-radius: 8px;
    border: none;
}

#btn2 a {
    text-decoration: none;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF
}

/* .statistics {
    position: absolute;
    width: 1140px;
    height: 130px;
    left: 163px;
    top: 561.5px;

    /* background: #FFFFFF; */
/* box-shadow: 0px 10px 19px rgba(24, 24, 24, 0.04);
    border-radius: 12px;
} */
.statistics {
    /* Rectangle 5 */


    position: absolute;
    width: 1140px;
    height: 130px;
    left: 220px;
    top: 560px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 19px rgba(24, 24, 24, 0.04);
    border-radius: 12px;
}

.statistics img {
    width: 70px;
    height: 70px;
    margin: 30px;
}

.statistics h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 28px;
    /* identical to box height, or 104% */

    letter-spacing: 0.02em;

    color: #212121;
}

.statistics p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    letter-spacing: 0.02em;

    color: #212121;

    opacity: 0.8;
}

.vl {
    border-left: 1px solid #DFDFDF;
    height: 70px;
    margin-left: 144px;
}

.container:first-child {
    /* Bitmap */


    position: absolute;
    width: 887px;
    height: 591px;
    left: -110px;
    top: 782px;

    background: url(.jpg);
}

.container {
    /* Mask */
    border-radius: 8px;
    margin-left: 150px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mark {
    /* Grow up your busines */


    position: absolute;
    height: 100px;
    left: 54.58%;
    right: 9.79%;
    top: 770px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    width: 100;
    /* or 139% */


    color: #212121;

}
/*Why you should chose us ends*/
/*Services Part Begins*/
.bold {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    font-feature-settings: 'liga' off;
    color: #212121;    
}

.subject {
    display: block;
    position: abolute;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0.02em;
    width: 374px;
    height: 56px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    color: #212121;
}
/* Services Cards*/
.cards {
    display: flex;
    padding: 0;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card1 {
    width: 350px;
    height: 375px;
    background: #FAFAFA;
    border-radius: 10px;
}

.card2 {
    width: 350px;
    height: 375px;
    background: #Ffffff;
    border-radius: 10px;
}

.card3 {
    width: 350px;
    height: 375px;
    background: #FAFAFA;
    border-radius: 10px;
}
.cardimg {
    display: block;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.def1 {
    width: 180px;
    height: 52px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #212121;
}

.def2 {
    width: 116px;
    height: 52px;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #212121;
}

.def3 {
    width: 128px;
    height: 26px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #212121;
}

.subscript {
    width: 264px;
    height: 78px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
    color: #212121;
    opacity: 0.8;
}
/*Services Part Ends Here*/